<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="245" border="4" cellspacing="4" cellpadding="5">
    <tr>
      <td>REG NO </td>
      <td>COURSE</td>
      <td>SEM</td>
      <td>HALLTICKET</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">DOWNLOAD</a></td>
      <td><a href="#">APPROVE</a></td>
      <td><a href="#">REJECT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
