{% extends 'index13.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/change_clg_password">
  <table class="table">
    <tr>
      <td>CURRENT PASSWORD </td>
      <td><label>
        <input type="password" class="form-control"  name="password" />
      </label></td>
    </tr>
    <tr>
      <td>NEW PASSWORD</td>
      <td><a href="#">
        <label>
        <input type="password" class="form-control"  name="password2" />
        </label>
      </a></td>
    </tr>
    <tr>
      <td>CONFIRM PASSWORD </td>
      <td><label>
        <input type="password" class="form-control"  name="password3" />
      </label></td>
    </tr>
  </table>
  <p>
    <label>
    <input type="submit" class="btn btn-light btn" name="Submit" value="CHANGE" />
    </label>
  </p>
</form>
{% endblock %}