<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p>LOGIN </p>
<form id="form1" name="form1" method="post" action="log">
  <table width="222" height="101" border="4" cellpadding="5" cellspacing="4">
    <tr>
      <td><label>
        <input type="text" name="textfield" placeholder="Username" required />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <input type="password" name="textfield2" placeholder="Password" required />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <input type="submit" name="Submit" value="LOGIN" />
      </label></td>
    </tr>
    <tr>
      <td><label><a href="/collegereg">College Registration</a></label></td>
    </tr>
  </table>
</form>
<p>&nbsp; </p>
</body>

</html>
