{% extends 'index12.html' %}
{% block body %}
<form action="/edit_external" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table">
    <tr>
      <td width="75">Registration Number: </td>
      <td width="102"><label>
        <input type="text" class="form-control"  name="textfield" value="{{val[1]}}"/>
      </label></td>
    </tr>
    <tr>
      <td>GPA:</td>
      <td>
        <input type="text"class="form-control"  name="textfield2" value="{{val[2]}}"/>
     </td>
    </tr>
    <tr>
      <td>FILE:</td>
      <td>
        <!--<label>-->
        <!--<input type="file" name="file" />-->
      <!--</label>-->
       <div class="custom-file">
  <input type="file" class="custom-file-input" name="file" id="file">
         <label class="custom-file-label" for="file">Choose file</label></div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" class="btn btn-light btn" name="Submit" value="EDIT" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}