{% extends 'index12.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/addcourse">
  <table class="table">
    <tr>
      <td>COURSE</td>
      <td><label>
        <input type="text" class="form-control" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <td>DURATION</td>
      <td><input type="text" class="form-control" name="textfield2" required /></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" class="btn btn-light btn" name="Submit" value="ADD" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}